.icon-blank{
	background:url('blank.gif')/*tpa=http://upyun.bejson.com/static/js/othertools/cron/icons/blank.gif*/ no-repeat center center;
}
.icon-add{
	background:url('edit_add.png')/*tpa=http://upyun.bejson.com/static/js/othertools/cron/icons/edit_add.png*/ no-repeat center center;
}
.icon-edit{
	background:url('pencil.png')/*tpa=http://upyun.bejson.com/static/js/othertools/cron/icons/pencil.png*/ no-repeat center center;
}
.icon-remove{
	background:url('edit_remove.png')/*tpa=http://upyun.bejson.com/static/js/othertools/cron/icons/edit_remove.png*/ no-repeat center center;
}
.icon-save{
	background:url('filesave.png')/*tpa=http://upyun.bejson.com/static/js/othertools/cron/icons/filesave.png*/ no-repeat center center;
}
.icon-cut{
	background:url('cut.png')/*tpa=http://upyun.bejson.com/static/js/othertools/cron/icons/cut.png*/ no-repeat center center;
}
.icon-ok{
	background:url('ok.png')/*tpa=http://upyun.bejson.com/static/js/othertools/cron/icons/ok.png*/ no-repeat center center;
}
.icon-no{
	background:url('no.png')/*tpa=http://upyun.bejson.com/static/js/othertools/cron/icons/no.png*/ no-repeat center center;
}
.icon-cancel{
	background:url('cancel.png')/*tpa=http://upyun.bejson.com/static/js/othertools/cron/icons/cancel.png*/ no-repeat center center;
}
.icon-reload{
	background:url('reload.png')/*tpa=http://upyun.bejson.com/static/js/othertools/cron/icons/reload.png*/ no-repeat center center;
}
.icon-search{
	background:url('search.png')/*tpa=http://upyun.bejson.com/static/js/othertools/cron/icons/search.png*/ no-repeat center center;
}
.icon-print{
	background:url('print.png')/*tpa=http://upyun.bejson.com/static/js/othertools/cron/icons/print.png*/ no-repeat center center;
}
.icon-help{
	background:url('help.png')/*tpa=http://upyun.bejson.com/static/js/othertools/cron/icons/help.png*/ no-repeat center center;
}
.icon-undo{
	background:url('undo.png')/*tpa=http://upyun.bejson.com/static/js/othertools/cron/icons/undo.png*/ no-repeat center center;
}
.icon-redo{
	background:url('redo.png')/*tpa=http://upyun.bejson.com/static/js/othertools/cron/icons/redo.png*/ no-repeat center center;
}
.icon-back{
	background:url('back.png')/*tpa=http://upyun.bejson.com/static/js/othertools/cron/icons/back.png*/ no-repeat center center;
}
.icon-sum{
	background:url('sum.png')/*tpa=http://upyun.bejson.com/static/js/othertools/cron/icons/sum.png*/ no-repeat center center;
}
.icon-tip{
	background:url('tip.png')/*tpa=http://upyun.bejson.com/static/js/othertools/cron/icons/tip.png*/ no-repeat center center;
}

.icon-mini-add{
	background:url('mini_add.png')/*tpa=http://upyun.bejson.com/static/js/othertools/cron/icons/mini_add.png*/ no-repeat center center;
}
.icon-mini-edit{
	background:url('mini_edit.png')/*tpa=http://upyun.bejson.com/static/js/othertools/cron/icons/mini_edit.png*/ no-repeat center center;
}
.icon-mini-refresh{
	background:url('mini_refresh.png')/*tpa=http://upyun.bejson.com/static/js/othertools/cron/icons/mini_refresh.png*/ no-repeat center center;
}